  
<!DOCTYPE html>
<html>
  <head>
    <title>Places</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Places</h1>
    <p>Fill out the following forms</p>
    <form class="jumbotron" action="/places" method="post">

     <label for="cityName">Enter City you have been to:</label>
     <input id="cityName" name="cityName" type="text">

     <button type="submit">Submit Location</button>
    </form>
  </body>
</html>
